APP_NAME="Belajar Laravel Chirper" 
APP_ENV=production 
APP_DEBUG=false 
APP_URL=https://your-app.laravel.cloud 
 
DB_CONNECTION=pgsql 
DB_HOST=127.0.0.1 
DB_PORT=5432 
DB_DATABASE=chirper 
DB_USERNAME=chirper 
DB_PASSWORD=password 
 
BROADCAST_DRIVER=log 
CACHE_DRIVER=file 
QUEUE_CONNECTION=sync 
SESSION_DRIVER=database 
SESSION_LIFETIME=120 
